
@model Ogrenci
@{
    ViewData["Title"] = "AddOgrenci";
}

<div style="text-align: center; margin-top: 50px;">
    <h1 style="color: darkred;">Öğrenci Ekleme İşlemi</h1>
    <form asp-action="AddOgrenci" asp-controller="Ogrenci" method="post" style="max-width: 400px; margin: 0 auto;">
        <div style="margin-bottom: 10px;">
            <label for="Ad" style="color: grey; font-weight: bold; display: block;">Ad:</label>
            <input asp-for="Ad" id="Ad" style="margin-top: 5px; padding: 5px; border: 1px solid #ccc; border-radius: 3px; display: block; width: 100%;" />
        </div>
        <div style="margin-bottom: 10px;">
            <label for="Soyad" style="color: grey; font-weight: bold; display: block;">Soyad:</label>
            <input asp-for="Soyad" id="Soyad" style="margin-top: 5px; padding: 5px; border: 1px solid #ccc; border-radius: 3px; display: block; width: 100%;" />
        </div>
        <div style="margin-bottom: 10px;">
            <label for="Numara" style="color: grey; font-weight: bold; display: block;">Numara:</label>
            <input asp-for="Numara" id="Numara" style="margin-top: 5px; padding: 5px; border: 1px solid #ccc; border-radius: 3px; display: block; width: 100%;" />
        </div>

        <input type="submit" value="Kaydet" style="background-color: darkslateblue; color: white; padding: 10px 20px; border: none; border-radius: 3px; cursor: pointer; display: block; margin-top: 20px;" />
    </form>
</div>

