<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="~/css/anasayfass.css">
</head>
<body>
    <div class="container">
        <h1>Anasayfaya Hoşgeldiniz</h1>
        <p>Gazi Üniversitesi Öğrenci Paneli için aşağıdaki butona tıklayınız:</p>
        <button onclick="window.location.href='@Url.Action("Index", "Ogrenci")'">Tıklayınız</button>
    </div>
</body>
</html>
